//------------------
// Patron de colores
//------------------
$texto: #111111;
$principal: #12afaf;
$secundario: #009500;

html {
    font-size: 15px;
}

.encabezado {
    background: $texto;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}

img {
    background-image: url(../img/logo@1x.svg);
}

.encabezado .container .logo {
    width: 150px;
    height: auto;
}