html {
    font-size: 15px;
}

.encabezado {
    background: #111111;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.encabezado .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #texto;
}

img {
    background-image: url(../img/logo@1x.svg);
}

.encabezado .container .logo {
    width: 150px;
    height: auto;
}

.boton-buscar,
.boton-menu {
    font-size: 1.5rem;
    border: 0;
    background: transparent;
    color: white;
    margin: 0;
}

.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}

.boton-buscar {
    margin-left: auto;
}

#bloque-buscar {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.contenedor-bloque-buscar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    height: 3rem;
}

.contenedor-bloque-buscar .caja-buscar {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border: 0;
    padding: 1rem;
}

.contenedor-bloque-buscar .boton-buscar {
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    background-color: #12afaf;
}

.contenedor-eleccion {
    flex-grow: 1;
    flex-shrink: 0;

    /* flex-basis: 0px */
}